{
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)",
    "^next(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@/apis/(.*)$",
    "^@/app/pages/(.*)$",
    "^@/app/components/(.*)$",
    "^@hooks/(.*)$",
    "^@utils/(.*)$",
    "^@store/(.*)$",
    "^@constants/(.*)$",
    "^@styles/(.*)$",
    "^@type/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}