@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  @font-face {
    font-family: Pretendard;
    font-weight: 100;
    src: url("@/public/font/Pretendard-Thin.woff") format("woff");
  }
  @font-face {
    font-family: Pretendard;
    font-weight: 200;
    src: url("@/public/font/Pretendard-ExtraLight.woff") format("woff");
  }
  @font-face {
    font-family: Pretendard;
    font-weight: 300;
    src: url("@/public/font/Pretendard-Light.woff") format("woff");
  }
  @font-face {
    font-family: Pretendard;
    font-weight: 400;
    src: url("@/public/font/Pretendard-Regular.woff") format("woff");
  }
  @font-face {
    font-family: Pretendard;
    font-weight: 500;
    src: url("@/public/font/Pretendard-Medium.woff") format("woff");
  }
  @font-face {
    font-family: Pretendard;
    font-weight: 600;
    src: url("@/public/font/Pretendard-SemiBold.woff") format("woff");
  }
  @font-face {
    font-family: Pretendard;
    font-weight: 700;
    src: url("@/public/font/Pretendard-Bold.woff") format("woff");
  }
  @font-face {
    font-family: Pretendard;
    font-weight: 800;
    src: url("@/public/font/Pretendard-ExtraBold.woff") format("woff");
  }
  @font-face {
    font-family: Pretendard;
    font-weight: 900;
    src: url("@/public/font/Pretendard-Black.woff") format("woff");
  }

  * {
    @apply border-border;

    ::-webkit-scrollbar {
      width: 8px;
    }
    ::-webkit-scrollbar-thumb {
      height: 30%;
      background: #b4b4b4;

      border-radius: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #f5f5f5;
    }
  }
  body {
    @apply bg-background text-foreground;
    @apply font-pretendard;
  }
}
